body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    height: 20rem;
    width: 20rem;
    transform: 0;
    animation: spin 10000ms linear alternate infinite;
}

@keyframes spin{
    
    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
    
}