div{
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
    border-style: solid;
    border-radius: 0.5rem;
  
    transition: transform 1000ms ease;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#left:hover{
    transform: translateX(-2rem);
}

#up:hover{
    transform: translateY(-2rem);
}

#right:hover{
    transform: translateX(2rem);
}

