body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    height: 15rem;
    width: 15rem;
    background-color: red;
    border-radius: 0rem;

    animation: warp 3000ms ease-in infinite alternate;
}

@keyframes warp{

    50%{
        border-radius: 1rem;
        background-color: purple;
    }
    
    100%{
        background-color: blue;
        border-radius: 100%;
    }

}