body{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: black;

    animation: slide 4000ms ease-in infinite;
}

p{
    color: white;
}

@keyframes slide{

    0%{
        margin-left: -20rem;
    }

    100%{
        margin-left: 50rem;
    }
}

